@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* color: var(--text-color); */
}

:root {
  --primary-color: #0061ff;
  --secondary-color: #3381ff;
  --bg-color: white;
  /* --text-color: #545759; */
}

h1 {
  @apply font-medium text-6xl pt-2;
}

/* p {
  @apply text-textColor;
} */

.btn-primary {
  background-color: #9241d4;
  font-weight: 600;
  padding: 10px 30px;
  width: fit-content;
  cursor: pointer;
  border-radius: 10px;
  color: #e9eaec;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  @apply disabled:opacity-50;
}

.btn-primary.red {
  background-color: red;
  color: white;
}

.fill-white {
  color: white;
}

.btn-primary:hover {
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  background-color: #694885;
}

.custom-container {
  padding: 0 20px;
  letter-spacing: 1px;
  max-width: 1300px;
  margin: auto;
}

/* .color-effect {
  background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER CSS START */

nav {
  backdrop-filter: blur(20px);
  background-color: #ffffffc7;
  box-shadow: 0 16px 24px -12px rgba(0, 0, 0, 0.09);
  border: 1px solid #f3f3f3;
  padding: 8px 20px;
}

.header-img {
  width: 115px;

  object-fit: cover;
}

.our-aim {
  padding-top: 0 !important;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.nav-ul li.active {
  background-color: #7851ec0d;
}

.nav-ul li {
  padding: 10px 20px;
}

/* HEADER CSS END */

/* BANNER SECTION STARTS */

.banner-section {
  height: 105vh;
  min-height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  min-width: 180px;
  align-items: center;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  transition: height ease-in 0.1s;

}
.swiper-slide-active .banner-img{
  margin-top: 0;
  height: 350px;
  transition: height ease-in 0.1s;
}

/* .swiper-slide-prev .banner-img{
  
  
} */
.blob-radius img {
  border-radius: 39% 61% 61% 39%/29% 48% 52% 71%;
}

/* BANNER SECTION ENDS*/

/* OUR AIM SECTION START */

.aim-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.aim-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.aim-box {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 10px;
}

.aim-box:hover {
  transition: 0.3s all ease-in-out;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.section {
  padding-bottom: 90px;
  padding-top: 90px;
}

/* OUR AIM SECTION END */

.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: fit-content;
}
.mySwiper .swiper-wrapper{
  display: flex;
  align-items: center;
  min-height:350px;
}

.button--itzel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: inherit;

  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
  border: 1px solid var(--primary-color);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.button--itzel.button--border-thick::before {
  border: 3px solid var(--primary-color);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--itzel .button__icon {
  position: absolute;
  top: 70%;
  left: 45%;
  padding: 20px;
  font-size: 20px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.button--itzel > p {
  display: block;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.button--itzel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--itzel:hover .button__icon {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
}

.button--itzel:hover > p {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.box {
  width: fit-content;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-width: 150px;
  margin-top: 20px;
}

/* OUR TEAM SECTION STARTS */

.our-team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.otb-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.otb-img img {
  border-radius: 100%;
}

.our-team-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--text-color);
  /* box-shadow: 4px 4px var(--text-color); */
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  cursor: pointer;
  z-index: 5;
  position: relative;
  background-color: white;
}

.social-icons {
  background: var(--text-color);
  color: white;
  border-radius: 10px;
  fill: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 2px;
  display: flex;
  padding: 10px 20px;
  z-index: 1;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
}

.team-box-wrap:hover .social-icons {
  top: 35px;
  transition: all 0.3s ease-in-out;
  left: 20px;
}

.team-box-wrap {
  position: relative;
}

.social-logos {
  color: white;
  fill: white;
  cursor: pointer;
  border-radius: 100%;
  font-size: 18px;
}

/* OUR TEAM SECTION ENDS */

/* EVENTS PAGE START */

.events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.events-box .events-img {
  height: 280px;
  width: 100%;
}

.events-box {
  margin: 10px;
}

.events-img img {
  border-radius: 10px 10px 0 0;
}

.event-content {
  padding: 20px;
}

/* EVENTS PAGE END */

/* PARTNERS GRID START */

.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.partner-imgwrap {
  aspect-ratio: 4/2;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-imgwrap img {
  object-fit: contain;
}

/* PARTNERS GRID END */

/* PRESS CLIPPINGS CSS START */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.gallery div {
  cursor: pointer;
}

.image-container.top-margin {
  margin-top: 65px;
}

.image-container.bottom-margin {
  margin-top: -65px;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}

.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transition: all 0.5s;
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1,
.hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #f5ce95;
  text-transform: capitalize;
  text-align: center;
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
}

.hex h1:before,
.hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: "";
  vertical-align: middle;
  transition: all 0.3s;
  text-align: center;
}

#demo2 {
  top: 80px;
  font-size: 14px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hex .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex .img:before,
.hex .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

/* .hex .img:before {
  background: linear-gradient(115deg,
      #bf97df,
      #9f32f8,
      #7300d0,
      #9f32f8,
      #bf97df);
} */

/* .hex .img:after {
  background: linear-gradient(to top, transparent, var(--secondary-color), transparent);
} */

/*** HOVER EFFECT  **********************************************************************/

.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
  opacity: 1;
  transition: 0.8s;
}

.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 0.8;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%;
  }

  .hex {
    width: 20%;
    /* = 100 / 5 */
  }

  .hex:nth-child(9n + 6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%;
    font-size: 13px;
  }

  .hex {
    width: 25%;
    /* = 100 / 4 */
  }

  .hex:nth-child(7n + 5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%;
    font-size: 14px;
  }

  .hex {
    width: 33.333%;
    /* = 100 / 3 */
  }

  .hex:nth-child(5n + 4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%;
    font-size: 12px;
  }

  .hex {
    width: 50%;
    /* = 100 / 3 */
  }

  .hex:nth-child(3n + 3) {
    /* first hexagon of even rows */
    margin-left: 25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 8px;
  }
}

/* CSS for the image popup */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
}

.image-popup-content {
  position: relative;
  max-width: 50%;
  max-height: 90%;
  overflow: auto;
  border-radius: 10px;
}

.image-popup-content img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: rgb(252 243 243);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  position: absolute;
  left: -12px;
  /* Shift the scrollbar to the left */
  top: 0;
  /* Position the scrollbar at the top */
  bottom: 0;
  /* Set the height of the scrollbar */
  width: 12px;
  /* Set the width of the scrollbar */
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--text-color);
}

/* PRESS CLIPPINGS CSS END */

/* TESTIMONIAL CSS START */
.testimonial-box {
  margin: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 375px;
}

.testimonial-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

/* TESTIMONIAL CSS END */

/* SINGLE EVENTS SECTION START */
.single-events-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 50px;
}

.single-events-cont img {
  border-radius: 10px;
}

.host-group {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
}

.host-group img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.host-hr {
  border: 1px solid #1b1a1f;
  opacity: 0.08;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* SINGLE EVENTS SECTION END */

/* ADMIN CSS START */

.sidebar-header-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.sidebar-item-selected {
  background: #f5f5f5;
  padding: 15px 25px;
}

.sidebar-item {
  padding: 15px 25px;
}

.content-main {
  width: 90%;
}

input {
  width: 100% !important;
  box-sizing: border-box;
}

/* ADMIN CSS END */

/* LOGIN PAGE ADMIN CSS */

.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Poppins", sans-serif;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 50%,
    #f8f8f888 100%
  );
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115dfc;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

/* LOGIN PAGE ADMIN END */

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: linear-gradient(
    115deg,
    #bf97df,
    #9f32f8,
    #7300d0,
    #9f32f8,
    #bf97df
  ) !important;
}

.number-section-wrapper {
  border-right: 1px solid #e4d3d3;
}

.number-sgrid div:last-child {
  border-right: none;
}

.box-shadow-custom {
  box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
  padding: 20px;
  background-color: #fff;
}

/* FOOTER PAGE START */

.footer {
  padding-top: 95px;
  background-color: #7851ec0d;
}

.footer-grid {
  grid-template-columns: 2.6fr 1fr 2.2fr;
  gap: 130px;
  padding-bottom: 80px;
  border-bottom: 1px solid #464646;
}

.footer-grid .footer-content h2 {
  margin-bottom: 30px;
}

.footer-grid .footer-content h3 {
  font-size: 25px;
  font-size: 600;
  margin-bottom: 30px;
}

.footer-grid .footer-content .lower-logo-content i {
  font-size: 20px;
  color: #ee2047;
}

.footer-grid .footer-content .lower-logos {
  margin-top: 10px;
}

.f-d-r {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FOOTER PAGE END */

.mbl-bars {
  font-size: 40px;
  display: none;
}

.se-events-mbl {
  display: none;
}

.particles-circle {
  position: absolute;
  top: 0;
  right: 40px;
}

.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(202, 205, 217);
}

.hover-event-card .hover-event-card-img {
  transition: all 0.3s ease-in-out;
}

.hover-event-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover-event-card:hover {
  transform: scale(1.05);
}

.hover-event-card:hover .hover-event-card-img {
  margin-left: 0;
  margin-right: 0;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

.particles-square {
  position: absolute;
  bottom: 60px;
  right: 37rem;
}

.particles-dots {
  right: 70px;
  bottom: -70px;
}

.events-button {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.events-button:before,
.events-button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.events-button:before {
  border: 3px solid #c5c7ca;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.events-button:after {
  /* border: 3px solid #96daf0; */
  border: 3px solid var(--secondary-color);
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.hover-event-card:hover .events-button:before,
.hover-event-card:hover .events-button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hover-event-card:hover .events-button:after,
.events-button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 13px 18px 0 13px;
  fill: #c5c7ca;
}

.hover-event-card:hover .events-button .button-box .button-elem:nth-child(2) {
  margin: 20px 18px 0 -20px;
}

.hover-event-card:hover .events-button .button-box .button-elem {
  color: var(--secondary-color);
}

.hover-event-card:hover .events-button .button-box,
.events-button:focus .button-box {
  transition: 0.4s;
  transform: translate(33px, -40px);
}

@media (max-width: 1090px) {
  .footer-grid {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .banner-section {
    padding-top: 100px;
  }
}

@media (max-width: 985px) {
  .side-nav-flex {
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .side-nav-flex {
    display: none;
    transform: translateX(210%);
    transition: all 1s cubic-bezier(0.22, 0.68, 0, 1.71);
    top: 100px;
    position: fixed;
    display: flex;
    width: 50%;
    flex-direction: column;
    height: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) -0.95px 1.95px 2.6px;
    justify-content: flex-start;
    padding-top: 100px;
    transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  .side-nav-flex.active {
    transform: translateX(100%);
  }

  .active {
    transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  .side-nav-flex ul {
    display: flex;
    flex-direction: column;
  }

  .header-img {
    width: 90px;
    height: 90px;
  }

  .text-2xl {
    font-size: 1.2rem;
  }

  .mbl-bars {
    display: block;
  }

  h1 {
    @apply text-4xl;
  }

  /* 
  .banner-container {
    padding-top: 50px;
    flex-direction: column;
  }

  .banner-container .w-3\/6 {
    width: 100%;
  } */

  .banner-section {
    padding-top: 130px;
  }
  
  .banner-swiperjs {
    margin-top: 20px;
  }

  .w-4\/5 {
    width: 100%;
  }

  .aim-grid {
    gap: 5px;
  }

  .aim-grid .text-2xl {
    font-size: 0.8rem;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .image-popup-content {
    max-width: 90%;
  }

  .text-5xl {
    @apply text-3xl;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }

  .text-lg {
    font-size: 1rem;
  }

  .text-xl {
    font-size: 1rem;
  }

  .banner-section {
    height: auto;
    min-height: auto;
  }

  .banner-img {
    width: 100%;
  }

  .our-aim {
    padding-top: 100px !important;
  }

  .btn-primary {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .se-events-r {
    display: none;
  }

  .se-events-mbl {
    display: block;
    padding-top: 50px;
    padding-bottom: 12px;
  }

  .single-events-cont {
    display: flex;
    flex-direction: column-reverse;
  }

  .our-team-grid {
    grid-template-columns: 1fr 1fr;
  }

  .text-lg,
  .text-xl,
  p {
    font-size: 0.8rem;
    line-height: 1.9;
  }

  .text-2xl {
    font-size: 1rem;
  }

  .box {
    min-width: 100px;
    margin-top: 10px;
  }

  .button--itzel > p {
    padding: 15px;
  }

  .gallery {
    gap: 20px;
  }

  .gallery div {
    height: 200px !important;
  }

  .image-container.top-margin,
  .gallery div:nth-child(6),
  .gallery div:nth-child(8) {
    margin-top: 50px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .image-container.bottom-margin {
    margin-top: 0;
  }

  /* .partner-imgwrap {
    height: 150px;
    width: 150px;
  } */

  .footer {
    padding-top: 50px;
  }
}

@media (max-width: 590px) {
  /* .partner-imgwrap {
    margin: auto;
    height: 120px;
    width: 120px;
  } */
}

@media (max-width: 570px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }

  
  .partner-imgwrap {
    width: 100%;
    height: 100px;
  }

  .content-main {
    width: 100%;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 30px !important;
    
  }
}


@media (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .our-team-grid {
    grid-template-columns: 1fr;
  }

  .e-nfg {
    flex-direction: column;
  }

  .gallery div {
    height: 170px !important;
  }

  .gallery div:nth-child(6),
  .gallery div:nth-child(8),
  .image-container.top-margin {
    margin-top: 30px;
  }

  .banner-img {
    width: 250px;
    margin: auto;
  }

  .header-img {
    width: 80px;
    height: 80px;
  }

  .btn-primary {
    font-size: 0.8rem;
  }

  .side-nav-flex {
    width: 60%;
  }

  .side-nav-flex.active {
    transform: translateX(60%);
  }
}

/* brand */

.containerBrand {
  @apply grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-8 items-center;
}

.instagram-footer-button:hover {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  border: none;
  transition: all 0.3s ease-in-out;
}

.instagram-footer-button {
  transition: all 0.3s ease-in-out;
}

.border-hr {
  border-bottom: 1px solid white;
}

.nav-div {
  margin-left: 0;
  margin-right: 0;
  max-width: 1360px;
}

.containerImageCerti {
  @apply sm:place-self-end place-self-center;
}

/* ! edawg */
.fl-col-ic {
  @apply flex items-center flex-col;
}

.inputDsa2 {
  @apply w-full px-4 py-2 rounded-md border-2 border-gray-300 focus:outline-none focus:border-gray-600;
}

.headingResponsibility {
  @apply lg:hidden block text-center;
}

.btnMx {
  @apply sm:mx-0 mx-auto;
}

.container-dropdown-nav {
  /* box-shadow: 0 16px 24px -12px rgba(0, 0, 0, 0.09); */
  /* @apply absolute p-4 w-60 h-auto rounded-xl flex flex-col z-50; */
  top: 60px;
  left: 0;
  @apply absolute z-50;
}

.join-us-btn {
  border-radius: 15px;
  color: #9241d4;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #530097;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.join-us-btn:hover {
  color: white;
}

.join-us-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background: linear-gradient(115deg, #bf97df, #9f32f8, #490084);
  z-index: -1;
  transition: all 1s;
}

.join-us-btn:hover::before {
  width: 160%;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 1000%;
  }
}

.signInbut {
  background: linear-gradient(
    115deg,
    #bf97df,
    #9f32f8,
    #7300d0,
    #9f32f8,
    #bf97df
  );
  padding: 10px 20px;
  background-size: 200% 200%;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: white;
  transition: box-shadow 0.3s ease;
  /* Apply easing to the box shadow */
}

.signInbut:hover {
  box-shadow: 0px 0px 5px rgb(144, 0, 255);
  animation: ani 7s infinite linear;
}

/* ! edawg */
.disabled-btn {
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-arrow-dsa {
  @apply rounded-full border-primaryPurple p-4 border border-solid hover:animate-pulse disabled-btn;
}

.dsa-hero {
  background-color: rgb(25, 25, 26, 0.2);
}

.pt-avoid-nav {
  @apply pt-28;
}

.container-hero-dlc {
  @apply lg:mx-0 mx-auto;
}

@layer utilities {
  .fl-ic {
    @apply flex items-center;
  }
}

/* ! dlc */
@layer components {
  .bg-black-dlc {
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 26 / var(--tw-bg-opacity));
  }

  .text-shark {
    --tw-text-opacity: 1;
    color: rgb(129 134 143 / var(--tw-text-opacity));
  }

  .bg-neutral-9 {
    --tw-bg-opacity: 1;
    background-color: rgb(32 35 41 / var(--tw-bg-opacity));
  }

  .border-dlc {
    border-color: hsla(0, 0%, 100%, 0.1);
  }

  .bg-border-dlc {
    @apply bg-neutral-9 border-dlc border;
  }
}

@media (max-width: 600px) {
  .number-section-wrapper {
    border-bottom: 1px solid #e4d3d3;
  }
}

@media (max-width: 640px) {
  .number-section-wrapper {
    border-bottom: 1px solid #e4d3d3;
    border-right: 0px solid #e4d3d3;
  }
}
